{% extends 'base.html' %}

{% block title %}Classify Problem Statement{% endblock %}

{% block content %}
<div class="container mx-auto mt-10">
    <div class="text-center">
        <h1 class="text-3xl font-bold mb-4">Classification Results</h1>
        {% if domains and subcategories %}
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 mb-6">
                {% for domain, subcats in subcategories.items %}
                <div class="p-4 rounded-lg shadow transition-transform transform hover:scale-105" style="background-color: #478a9b;">
                    <h3 class="text-xl font-bold mb-2">{{ domain }}</h3>
                    <ul class="list-disc list-inside ml-5">
                        {% for subcategory in subcats %}
                        <li>{{ subcategory }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-lg">Enter a problem statement to classify its domains and subcategories.</p>
        {% endif %}
    </div>
    <div class="classification-form mt-10">
        <form action="{% url 'classify' %}" method="post" class="w-full">
            {% csrf_token %}
            <div class="flex items-center justify-center">
                <input type="text" name="problem_statement" placeholder="Enter your problem statement..." class="px-4 py-2 w-3/4 rounded-l bg-white shadow" value="{{ user_input }}">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-r shadow">Classify</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
